{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-ejs"],
  "overrides": [
    {
      "files": "*.ejs",
      "options": { "parser": "html" }
    },
    {
      "files": "*.scss",
      "options": { "singleQuote": true }
    },
    {
      "files": ["*.json", "*.md"],
      "options": {
        "printWidth": 80,
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
