@charset "utf-8";
@use '../tools' as *;

.l-footer {
  margin-top: rem(80);
  padding: rem(40) $container-padding;
  border-top: 1px solid $c-gray-light;
  text-align: center;

  &__copyright {
    font-family: $font-en;
    font-size: rem(12);
    color: $c-gray;
  }
}
